body {
	background-image: url('../image/bgapp.jpg');
	width: 100%;
	font-family: 'Open Sans' !important;
	color: black !important;
}

/*BARRA*/
#barra1 {
	background-color: #E3E3E3;
	padding-top: .5em;
	margin-top: 3%;
}

img {
	width: 2.2em;
}

.flr {
	float: right;
	font-size: 1.2em;
	color: #37474f !important;
	top: 0;
}

.borderr {
	border-right: 1px black solid; 
}

p {
	font-size: .8em;
	color: black;
}



/*CHAT*/
form {
	padding: 3%;
	width: 100%;
}

.chatnombre {
	background-color: #ffffff;
	width: 100%;
	overflow-y: scroll;
}

#chat {
	height: 500px;
	width: 100%;
}

.chat1 {
	background-color: #EDE9EC;
	width: 100%;
	height: 450px;
	padding: 0px;
}

table {
	width: 100%;
}

tr {
	padding-top: 5% !important;
	border-top: solid 1px #EDE9EC;
}

td {
	padding-top: 3% !important;
}

a {
	text-decoration: none !important;
}

a :hover {
	background-color: #EDE9EC;
}


.hr {
	float: left;
}

.bgchat {
	background-image: url('../image/chat-panel-bg.png');
	background-repeat: repeat;
	height: 450px;
	width: 100%;
}

.scroll {
	height: 450px;	
}

#agregarConv {
	height: 55px;
	width: 100%;
	background-color: #ffffff;
}

/*Ventana de conversación*/
li {
	list-style: none;
}

#hr1 {
	float: right;
}

.conver {
	background-color: white;
	margin: 5%;
	width: 50%;
	border-radius: 10px;
	padding: 2%;
}

